/* public/stylesheet/style.css */
/* I am not a designer, remember */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#logo {
    /*position: absolute;*/
    margin: 55px;
}

input:focus , #editor:focus {
    outline: none;
    border: 1px solid #2c97de;
}

#keys {
  position: relative;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 40px white inset; /* Change the color to your own background color */
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 40px white inset;
}

#help {
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #2c97de;
  color: white;
  position: absolute;
  width: 55px;
  cursor: pointer;
  height: 55px;
  left: -75px;
  z-index: 9999;
  transition: all .3s ease-in-out;
  -webkit-transition-delay: 5s; /* Safari */
  transition-delay: 5s;
}

#help-data {
  background-color: #ffc02d;
  position: absolute;
  left: 75px;
  top: -55px;
  width: 85vw;
  max-width: 960px;
  padding: 10px 0;
  font-family: Helvetica;
  font-size: 1.1em;
  opacity: 0;
  transition: .3s all ease-in-out;
}

#help:hover #help-data {
  opacity: 1;
  transition: .3s all ease-in-out;
}

#api-key, #api-secret {
  width: 49.5%;
}

#api-key {
  float: left;
}

#api-secret {
  float: right;
}

#subject input {
    color: #2c97de;
}

#container {
    width: 100vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    width: 95vw;
    max-width: 960px;
}

.field {
    width: 100%;
}

#send-button button {
    float: right;
    padding: 10px 50px;
    outline: none;
    color: white;
    border: 1px solid #2c97de;
    background-color: #2c97de;
    margin-top: 10px;
}

.field input {
    width: 100%;
    padding: 20px;
    margin-bottom: 5px;
}

#editor {
    border: 1px solid silver;
    font-family: Helvetica;
    width: 100%;
    height: 200px;
    outline: none;
    padding: 20px;
}
